*{margin: 0; padding: 0; font-family: sans-serif;}
body, html { background-color: rgb(10, 22, 22);}

.container {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.header {
    color: white;
    
}
.header h1 {
    width: 200px;
    padding: 10px 10px 0px 10px;
    font-weight: 100;
}
.header h2 {
    font-weight: 100;
    padding: 0px 10px 0px 10px;
    margin-top: -5px;
    margin-left: 35px;
    font-size: 1rem;
}
.navigation {
    width: 100%;
    height: 50px;
}
.navigation ul {
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    margin-top: 10px;
}

.navigation ul li {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    border-bottom: 2px solid transparent;
}
.navigation ul li:hover {
    border-bottom: 2px solid darkgray;
}

.main {
    width: 100%;
    min-width: 300px;
    height: auto;
    max-height: 750px;
    overflow: auto;
}

.data {
    border: 1px solid white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 8px;
    color: white;
    margin-bottom: 10px; 
}

.databox { overflow: hidden; }
.databox input { outline: none; }
.databox input[type=text] { background-color: transparent; color: white; border: 1px solid transparent; border-top-right-radius: 10px; border-bottom-right-radius: 10px; 
padding: 4px 2px 4px 5px; cursor: pointer; }
.databox input[type=text]:focus { border: 1px solid white;  }
.databox select { outline: none; }
.databox-cb {width: 30px; margin-left: 5px; margin-top: 5px; }
.databox-pn {margin-top: 5px; margin-left: 5px; }
.databox-vi {margin-top: 5px; margin-left: 5px;}
.databox-vd {margin-top: 5px; margin-left: 5px;}
.databox-ht {margin-top: 5px; margin-left: 5px;}
.databox-tt { margin-top: 5px; margin-left: 5px;}
.databox-kg {width: 130px; margin-left: 5px; margin-right: 5px; }
.databox-kg select { width: 100%; font-size: 1rem; padding: 3px; background-color: transparent; color: white; }
.databox-kg select option { color: black; }
.databox-bg { margin-left: 5px; margin-right: 5px; }
.databox-bg input { width: 250px; font-size: 1rem; padding: 3px; }
.databox-lg { margin-left: 5px; margin-right: 5px; }
.databox-lg input { width: 150px; font-size: 1rem; padding: 3px; }

.field1 {
    background-color: red;
    width: auto; 
    max-width: 120px;
}

.fieldSmall {
    width: auto;
    max-width: 50px;
}
.fieldMid {
    width: auto;
    max-width: 100px;
}















.window {
    position: absolute;
    background-color: rgba(20,20,20,0.8); color: white;
    margin-left: auto; margin-right: auto; display: block;
    min-width: 320px; width: 30%;
    height: 170px;
    border-radius: 10px; border: 1px solid white;
    display: none;
}
.window h2 { text-align: center; overflow: hidden; width: 96%; padding: 2%;}
.window p { width: 78%; height: 70px; overflow: hidden; padding: 1%; margin-left: auto; margin-right: auto; display: block; } 
.window-buttons { overflow: hidden; width: 100%; height: 30px; text-align: center; }
.window-buttons button { width: 100px; padding:5px; color: white; cursor: pointer; margin: 0px 15px 0px 15px; }
#window-button-close { background-color: red; transition: 0.5s; border: 1px solid white; }
#window-button-close:hover { background-color: orange; }
#window-button-create { background-color: green; transition: 0.5s; border: 1px solid white; }
#window-button-create:hover { background-color: lightgreen; }